body {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.titre {
    background-color: beige;
    text-align: center;
    align-self: baseline;
}

.zone1 {
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    width: 6em;
}

.zone2 {
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.zone3 {
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
}